include LICENSE
include requirements.txt
include README.md
recursive-include scrapyd_dash/static *
recursive-include scrapyd_dash/templates *
recursive-include scrapyd_dash/operations *

recursive-exclude config *